<p> Welcome, <%= current_user.username %>
  <h2> Here's your Grocery Lists </h2>

<% @lists.each do |list| %>
  <div>
    <h3><%= list.store_name %></h3>
    <p><%= list.item_list %>
    <a href="/grocery_list/<%=list.id%>/edit">Edit List </a>
  </p>
  </div>
<% end %>
<a href="/grocery_list/new">Create a New List here</a>
<a href="/users/logout"> Logout </a>
