<p> Welcome, <%= current_user.username %>
<h2> Grocery List </h2>

<% @lists.each do |list| %>
  <div>
    <h3><%= list.store_name %></h3>
    <p><%= list.item_list %></p>
  </div>
<% end %>
<a href="/grocery_list/new">Create a New List here</a>
<a href="/users/logout"> Logout </a>
