<h2>Add New Grocery List</h2>
<form action="/grocery_list" method="POST">
  <p> Store Name: <input type="text" name="store_name"></p>
  <p>Add Items: <input type="text" name="content"></p>
  <input type="submit" value="submit">
</form>
